header.circle--header(style='${userReq.screen_name}?background-image: url("${userReq.profile_banner_url}");background-size:cover')
    .bounds
        .circle--fluid
            .circle--fluid--cell
                a.logo(href='/')
                img(src='/static/images/twitter.svg')
                h1 `${userReq.name}+' @'+${userReq.screen_name}`
                .circle--fluid--cell.align-right
                    nav
                        ul.circle--inline
                            li
                                a ${userReq ? 'Sign Out' : 'Sign In'}


                                
                                // `<p>${like('apples')}, but ${love('oranges')}.</p>`;
                                // h1(style='color:blue;text-align:center') This is a header
                                // p(style='color:green') This is a paragraph.