.app--section
    ul.app--message--list
        each message in messages
            li
                h3 Conversation with 
                    a #{message.sender.name}
                app--message--conversation
                    app--message
                        .app--avatar(style=`background-image: url('${message.sender.profile_image_url}')`)
                            img(src=`${message.sender.profile_image_url}`)
                        p.app--message--text #{message.text} 
                        p.app--message--timestamp #{etSinceMsg(message.created_at, true)}

